@page
@model Nhom11.QLQC.Pages.HopDongModel
@{
}
@using global::QLQC.DTO
<form method="post">
    <div class="row">
    <div class="col-2 form-group">
        <label>Mã hợp đồng :</label>
        <input type="text"  id="mhd" name="mhd" class="form-control" />
    </div>
    <div class="col-2 form-group">
        <label>Ngày ký kết : </label>
        <select  id="nkk" name="nkk" class="form-control">
            <option value =""></option>
            <option value ="2018">Trước năm 2019</option>            
            <option value ="2019">2019</option> 
            <option value ="2020">2020</option> 
            <option value ="2021">Từ năm 2021</option> 
        </select>          
    </div>
    <div class="col-3 form-group">
        <label>Mã nhân viên thực hiện : </label>
        <input type="text"  id="mnv" name="mnv" class="form-control" />
    </div>
    <div class="col-2 form-group">
        <label>Mã đối tác : </label>
        <input type="text"  id="mdt" name="mdt" class="form-control" />
    </div>
    <div class="col-2 form-group">
        <label>Theo ngày kí kết</label>
        <select style="margin-left: -10px" id="sx" name="sx" class="form-control">
            <option value =""> </option>            
            <option value ="tangdan">Tăng dần ↑ </option>
            <option value ="giamdan">Giảm dần ↓ </option>
        </select>
    </div>
    <div class="col-1 form-group">
            <br />
            <input style="margin-top: 5px; margin-left: -25px" type="submit" class="btn btn-primary" value="Tìm kiếm"/>
    </div>
</div>
</form>
<br />
<div class="text-center">
    <h2><b>Danh sách Hợp đồng</b></h2>
</div>
@if (Request.Method.ToUpper() == "GET")
{
<table class="table table-success table-condensed">
    <tr>
        <th>Mã hợp đồng</th>
        <th>Ngày ký kết</th>
        <th>Mã nhân viên thực hiện</th>
        <th>Mã đối tác</th>
        <th>Tác vụ</th>        
    </tr>
    @foreach (HopDongDTO item in Model.lst)
   {
       <tr>
           <td>@item.MaHD</td>
           <td>@item.NgayKy</td>
           <td>@item.MaNV</td>
           <td>@item.MaKH</td>

       </tr>
   }
</table>
}
else if(Request.Method.ToUpper() == "POST") {
    <table class="table table-success table-condensed">
    <tr>
        <th>Mã hợp đồng</th>
        <th>Ngày ký kết</th>
        <th>Mã nhân viên thực hiện</th>
        <th>Mã đối tác</th>
        <th>Tác vụ</th>
    </tr>        
</table>
}
