@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Group 11's Promotional Website</h1>
</div>
<div style="margin-left: 25px">
<a asp-page="/NhanVien">
<div class="axx bb" style="background: linear-gradient(to right, #ff9285, #84d8ff);display: inline-block; text-align: center;font-size: 35px">
<p style="padding-top: 120px">Nhân Viên</p>
</div>
</a>
<a asp-page="/NhomNhanVien">
<div class="axx" style="background: linear-gradient(to right, #e9ff85, #6675ff);display: inline-block ;text-align: center;font-size: 35px">
<p style="padding-top: 120px">Nhóm Nhân Viên</p>
</div>
</a>
<a asp-page="/QuangCao">
<div class=" axx" style="background: linear-gradient(to right, #81f871, #ff66d1);display: inline-block; text-align: center;font-size: 35px">
<p style="padding-top: 120px">Quảng Cáo</p>
</div>
</a>
<a asp-page="/LoaiQuangCao">
<div class="bxx bb" style="background: linear-gradient(to right, #71f4f8, #ff7979);display: inline-block; text-align: center;font-size: 35px">
<p style="padding-top: 120px">Loại Quảng Cáo</p>
</div>
</a>
<a asp-page="/DoiTac">
<div class="bxx" style="background: linear-gradient(to right, #fff785, #ff798f);display: inline-block ;text-align: center;font-size: 35px">
<p style="padding-top: 120px">Đối Tác</p>
</div>
</a>
<a asp-page="/HopDong">
<div class="bxx" style="background: linear-gradient(to right, #85ffc2, #ebff79);display: inline-block;text-align: center;font-size: 35px">
<p style="padding-top: 120px">Hợp đồng</p>
</div>
</a>
</div>