@page
@model Nhom11.QLQC.Pages.NhomNhanVienModel
@{
}
<form method="post">
<div class="row">
    <div class="col-2 form-group">
        <label>      Mã nhóm :    </label>
        <input type="text"  id="mn" name="mn" class="form-control" />
    </div>
    <div class="col-2 form-group">
        <label>Tên nhóm : </label>
        <input type="text"  id="tn" name="tn" class="form-control" />
    </div>
    <div class="col-2 form-group">
        <label>Mã trưởng nhóm : </label>
        <input type="text"  id="mtn" name="mtn" class="form-control" />
    </div>

    <div class="col-2 form-group">
        <label>Ngày thành lập : </label>
        <select  id="ntl" name="ntl" class="form-control">
            <option value =""></option>
            <option value ="2018">Trước năm 2019</option>            
            <option value ="2019">2019</option> 
            <option value ="2020">2020</option> 
            <option value ="2021">Từ năm 2021</option> 
        </select>
    </div>    
    <div class="col-2 form-group">
        <label>Theo năm thành lập</label>
        <select  id="sx" name="sx" class="form-control">
            <option value =""> </option>            
            <option value ="tangdan">Tăng dần ↑ </option>
            <option value ="giamdan">Giảm dần ↓ </option>
        </select>
    </div>
    <div class="col-2 form-group">
            <br />
            <input style="margin-top: 5px; margin-left: 70px" type="submit" class="btn btn-primary" value="Tìm kiếm"/>
    </div>
</div>
</form>
<br />
<div class="text-center">
    <h2><b>Danh sách nhóm nhân viên</b></h2>
</div>
@if (Request.Method.ToUpper() == "GET")
{
<table class="table table-success table-condensed">
    <tr>
        <th>Mã nhóm</th>
        <th>Tên nhóm</th>
        <th>Ngày thành lập</th>
        <th>Mã nhóm trưởng</th>
        <th>Tác vụ</th>
    </tr>
    <tr>
        <td>Mã Sản phẩm</td>
        <td>Tên sản phẩm</td>
        <td>Đơn vị tính</td>
        <td>Đơn giá</td>
    </tr>
</table>
}
else if(Request.Method.ToUpper() == "POST") {
    <table class="table table-success table-condensed">
    <tr>
        <th>Mã nhóm</th>
        <th>Tên nhóm</th>
        <th>Ngày thành lập</th>
        <th>Mã nhóm trưởng</th>
        <th>Tác vụ</th>
    </tr>        
</table>
}
